[Unit]
Description=Monitor Wireless Bandwidth
After=systemd-remount-fs.service network.target nss-lookup.target
RequiresMountsFor=/home

[Service]
Type=simple
EnvironmentFile=/etc/systemd/rtmp-env.conf
ExecStart=/usr/bin/python /usr/local/bin/stream-monitor.py
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=30
StartLimitInterval=300
StartLimitBurst=5
TimeoutStartSec=0
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
