[Unit]
Description=Network Video Stream
After=systemd-remount-fs.service network.target nss-lookup.target
RequiresMountsFor=/usr

[Service]
Type=simple
EnvironmentFile=/etc/systemd/video-stream.conf
ExecStart=/usr/local/bin/video-stream.sh
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=30
StartLimitInterval=300
StartLimitBurst=5
TimeoutStartSec=0
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
